NEXT_PUBLIC_GRAPH_API_VERSION=v25.0
NEXT_PUBLIC_PHONE_NUMBER_ID=your_phone_number_id
NEXT_PUBLIC_ACCESS_TOKEN=your_access_token
META_WEBHOOK_VERIFY_TOKEN=choose_a_private_verify_token
META_APP_SECRET=your_meta_app_secret
APP_URL=https://notifications.example.com
ENCRYPTION_KEY=generate-with-openssl-rand-base64-32
LICENCE_API_URL=https://itsme.krio.tr
